<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/child}" th:object="${childDto}">
    <input id="firstname" placeholder="Firstname" type="text" th:field="*{firstname}">
    <input id="lastname" placeholder="Lastname" type="text" th:field="*{lastname}">
    <input id="exerciseName" placeholder="Exercise name" type="text" th:field="*{exerciseNames}">
    <input type="submit" value="Add Child">
</form>
</body>
</html>